.page-content {
  height: 100%;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 32% 40%;
}

.text-city {
  text-align: center;
  line-height: 7vh;
}

.city {
  font-size: 8vh;
}

.country {
  font-size: 3vh;
}

.temp-container {
  display: grid;
  grid-template-columns: 48% 52%;
  grid-template-rows: 100%;
}

.temp-icon {
  padding-top: 2vh;
  width: 15vh;
  float: right;
}

.num-temp {
  display: flex;
  text-align: left;
}

.temperature {
  font-size: 18vh;
  font-weight: 700;
  letter-spacing: calc(-1px);
}

.measure {
  margin: auto;
  margin-left: 0;
  margin-top: 0;
  width: 5vh;
  height: auto;
}

@media (max-width: 600px) {
  .page-content {
    grid-template-columns: 100%;
    grid-template-rows: 38% 50%;
  }

  .city {
    font-size: 6vh;
  }

  .text-city {
    padding-top: 1.5vh;
  }

  .temp-icon {
    padding-top: 1vh;
    width: 15vh;
  }

  .temperature {
    font-size: 13vh;
  }

  .measure {
    width: 3.5vh;
  }
}